.Specials{
    width: 100%;
    /* height: 300px; */
    margin-top: 60px;
}
.Specials > p{
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 31px;
    color: #000000;
}

.SpecialsContent{
    width: 100%;
    height: 100%;
    margin-top: 30px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-between;
    grid-gap: 20px;
}
.Specials > div:last-child{
    display: flex;
    justify-content: flex-end;

}
.Specials > div:last-child > a{
    font-size: 17px;
    line-height: 20px;
    color: #171717;
    margin-top: 30px;
    text-decoration: none;
    border-bottom: 1px solid;
}

.Catalog{
    border-bottom: 1px solid;
    font-size: 17px;
    line-height: 20px;
    color: #171717;
    cursor: pointer;
}


@media(max-width: 1165px){
    .Specials{
        width: 100%;
        margin-top: 60px;
    }
    .Specials > p{
        font-style: normal;
        font-weight: 500;
        font-size: 26px;
        line-height: 31px;
        color: #000000;
    }
    
    .SpecialsContent{
        width: 100%;
        height: 100%;
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        justify-content: space-between;
        grid-gap: 20px;
    
    }
}



@media(max-width: 550px){
    .Specials{
        width: 100%;
        margin-top: 60px;
    }
    .Specials > p{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 31px;
        color: #000000;
    }
    
    .SpecialsContent{
        width: 100%;
        height: 100%;
        margin-top: 30px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        grid-gap: 10px;
    
    }
}

@media(max-width: 550px){
    .Specials{
        width: 100%;
        margin-top: 60px;
    }
    .Specials > p{
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 31px;
        color: #000000;
    }
    
    .SpecialsContent{
        width: 100%;
        height: 100%;
        margin-top: 30px;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: center;
        grid-gap: 10px;
    
    }
}
